<!DOCTYPE html>
<html>
<head>
  <title>EmailAttachment</title>
  <%= stylesheet_link_tag    "application", "QapTcha.jquery","jquery-ui",:media => "all" %>
  <%= javascript_include_tag "application","QapTcha.jquery" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
